.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
    max-width: 700px;
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.tableRows:nth-child(even) {
    background-color: #bcc5f9;
}

th,td {
    text-align: left;
    margin: 5px;
    padding: 5px;
}

table {
    border: 1px grey solid;
    border-collapse: collapse;
}

th,td {
    border: 1px grey solid;
}

th {
    background-color: #bcc5f9;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 10px;
}

.tableKey {
    margin: 25px 0px;
    display: flex;
    flex-wrap: wrap;
}

.keyItem {
    margin: 5px;
}

.tableDescription {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}
