.container {
    text-align: center;
    align-content: center;

}

.rankTable {
    display: flex;
    align-content: center;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 10px;
}

.tableKey {
    margin: 25px 0px;
    display: flex;
    flex-wrap: wrap;
}

.keyItem {
    margin: 5px;
}