html, body {
    min-height: 100vh;
    margin: 0; padding: 0;  /* to avoid scrollbars */
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: auto;
}

.mainContainer {
    flex: 1;
}

.navbar {
    display: flex;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: black;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    min-height: 3em;
    align-items: center;
    border-bottom: 3px solid grey;
}

.link {
    color: whitesmoke;
    text-decoration: none;
    margin: 10px;
}

.link:visited {
    color: whitesmoke;
}