.navbar {
    display: flex;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.navStyle {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
}

Link:visited {
    color: black;
}