.navbar {
    display: flex;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: black;
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
    min-height: 3em;
    align-items: center;
    border-bottom: 3px solid grey;
}

.link {
    color: whitesmoke;
    text-decoration: none;
    margin: 10px;
}

.link:visited {
    color: whitesmoke;
}