.articleContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 10px;
}
