.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
    max-width: 700px;
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 10px;
}

.articlesDescription {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    margin-bottom: 15px;
}
